<div
        style="background-color: rgb(37, 80, 149); height: 65px;display: flex; align-items: center; justify-content: center;">
        <h3 style="text-align: center;font-size: xx-large;color:white;">Vins Aluminium</h3>
</div>
<div class="card-background">
        <p-card header="Login" class="card-login">
                <div class="card flex justify-content-center">
                        <span class="p-float-label">
                                <input class="login-input" pInputText type="email"/>
                                <label>Username</label>
                        </span>
                </div><br><br>
                <div class="card flex justify-content-center">
                        <span class="p-float-label">
                                <input class="login-input" pInputText type="password"/>
                                <label>password</label>
                        </span>
                </div><br>
                <div class="card flex justify-content-center">
                        <p-button class="login-btn" label="login" icon="pi pi-check"></p-button>
                </div>
        </p-card>
</div>