<!--SIDEBARD MENU-->
<div class="card flex justify-content-center">
    <p-sidebar [(visible)]="sidebarVisible">
        <ng-template pTemplate="header"><h2>Menu</h2></ng-template>
        <ng-template pTemplate="content">
            <p-panelMenu [model]="items"></p-panelMenu>
        </ng-template>
        <ng-template pTemplate="footer">
            <div>Vins Aluminium</div>
        </ng-template>
    </p-sidebar>
</div>
<!--HEADER-->
<div style="background-color: rgb(37, 80, 149); height: 65px;">
    <div style=" display: flex; align-items: center; justify-content: space-between;">
        <p-button (click)="sidebarVisible = true" class="menu-btn" slot="start" icon="pi pi-align-justify"></p-button>
        <h2 style="color: white;">Dashboard</h2>
        <i class="pi pi-user" slot="end" (click)="menu.toggle($event)" style="margin-right: 10px;
        margin-bottom: 10px;font-size: 25px;;color: white;"></i>
    </div>
    <p-toast></p-toast>
    <p-menu #menu [model]="popup" [popup]="true"></p-menu>
</div>
<!--CONTENT-->
<div style="display: flex;padding: 10px;">
    <p-card header="Title" class="card-1">
      <div>STOCKS</div>
    </p-card>
    <p-card header="Title" class="card-2">
       <div>NEW STOCKS</div>
    </p-card>
</div>