.card-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavender;
}
.card-login{
    width: 400px;
}
.login-input{
    width: -webkit-fill-available;
}
.card{
    text-align: center;
}
.login-btn{
    width: 40%;
}