.menu-btn {
    padding: 10px;
    margin-bottom: 10px;
}

:host ::ng-deep .p-card {
    border-radius: 20px !important;
    width: 673px;
    border: 2px solid rgb(244, 130, 0);
    /* height: 50%; */
    background-color: orange;
}

.card-2 {
    margin-left: 15px;
}

:host ::ng-deep .p-sidebar .p-sidebar-footer {
    background-color: #163059;
}

:host ::ng-deep {
    .p-dock {
        z-index: 1000;
        background-color: yellowgreen;
        top: unset;
    }
}

.top-content {
    padding: 15px;
    border-top-left-radius: 30px;
    background-color: white;
    margin-left: 81px;
}

.top-border {
    background-color: yellowgreen;
}

:host ::ng-deep .p-dock .p-dock-link {
    width: 3rem;
    height: 3rem;
}

:host ::ng-deep .p-button.p-button-icon-only{
  background-color: rgb(97 163 97);
}
